body{
    border: 0px auto;
    margin: 0px auto;
    max-width: 100%;
    display: block;
    height: auto;
    overflow-x: auto;
}
.container1{
	width: 100%;
	display:flex;
	padding:14px 8%;
	margin:0px;
	padding:0px; 
	border:0px;
	position:sticky;
	justify-content: space-evenly;
	font-size:14px;
	align-items: center;
	position: sticky;
	top:0px;
	background:#096411;
	color: #d9eeec;
	box-shadow: 1px 1px 3px 5px #ff9100;
    z-index: 3;		
}
.container1 ul{	
	position: relative;
	list-style :none;
	padding:0px;
	margin:0px;
	transition:0.50s;
	border:0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
.container1 a{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color:#d9eeec;
}
.container1 ul:hover{
	background:none;
	transform:scale(1.3);
}
.container a:hover{
	background:none;
	transform:scale(1.3);
	color: #ff9100;
}
.title1{
	padding:3px;
	margin-left: -120px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}
.subtitle{
	position: relative;
	font-size: 14px;
	margin-bottom: 0px;
	left: -115px;
	top:-30px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
}
.lines{
	position: relative;
	margin: 0px;
	top: -25px;
	left:-115px ;
}
.par{
    padding: 100px;
    margin: 50px;
    top: 25%;
}
.ft1  {
	border:0px;
    font-family: 'poppins', sans-serif;
    padding:20px;
	background:#096411;
	text-align: center;
    list-style: none;
    bottom: 0px;
    top: 100%;
	cursor: auto;
	position: static;
    color: aliceblue;
}
.bod_content{
    position: relative;
    background-image: url("images/bilyonaryo_jude.jpg");
    background-repeat: no-repeat;
    background-size: 1390px 400px;
    max-width: 100%;
    align-content: center;
    transform: translate(50% 50%);
    padding: 100px ;
    margin: 0px;
    z-index: 1;
    text-align: center;
}
.f-content{
    align-content: center;
    padding: 0px auto;
    margin:0px auto;
    position: relative;
    margin-top: 30%;
    max-width: 100%;
    text-align: center;	
}
.paragraph{
    position: relative;
    margin: 5px;
    padding: 5px;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: #ff9100;
    font-size: 20px;
     z-index: -1;
}
.sub_par{
    position: relative;
    margin: 10px;
    top: 10%;
    letter-spacing: 3px;
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    font-weight:900; 
}
.sub2{
    position: relative;
    top: 50px;
    left: 50px;   
}
.imagefront{
    margin:auto;
    padding: auto;
    display: inline;
    max-width:50%;
}
.sentence1{
    font-family: 'poppins',sans-serif;
    font-weight:900;
    font-size:110%;
}
.sub_sentence1{
    font-weight:normal;
    font-size:100%;
}
.imagelobby{
    margin:auto;
    margin-top: 50px;
    padding:auto;
    display: inline;
    max-width: 50%;
}
.sentence2{
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-size: 110%;
}
.sub_sentence2{
    font-weight:normal;
    font-size:100%;
}
.imagemarketing{
    margin:auto;
    padding: auto;
    margin-top:50px;
    display:inline;
    max-width:50%;
}
.sentence3{
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-size:110%;
}
.sub_sentence3{
    font-weight: normal;
    font-size:100%;
}
.imageaccounting{
    margin:auto;
    padding:auto;
    margin-top:50px;
    display: inline;
    max-width:50%;
}
.sentence4{
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-size:110%;
}
.sub_sentence4{
    font-weight: normal;
    font-size:100%;
}
.imagecsdl{
    margin:auto;
    padding:auto;
    margin-top:50px;
    display: inline;
    max-width:50%;
}
.sentence5{
    font-family: 'poppins',sans-serif;
    font-weight: 900;
    font-size:110%;
}
.sub_sentence5{
    font-weight: normal;
    font-size:100%;
}
.s2{
    position: relative;
    margin: 50px;
    border:2px solid #096411;
    border-radius: 14px;
    padding: 20px 100px;
    transform:translate(-50% -50%);
    background-color: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out .25s;
    font-size:18px;
}
/*Buttons Animations*/
.s2:hover{
    transform:scale(1.1);
    background-color:#096411;
    border-color:#096411;
    color: #ff9100;
}